
/*-------------------------------------------------------------*/

header#header-principal{
    height: 3rem;
}

/*--- Mobile ---*/

@media screen and (max-width: 810px) {
    nav#header-principal-nav-contato ul#nav-contato-direita{
        display: flex;
    }
}

/*--------------------------*/
/*           MAIN           */
/*--------------------------*/
section#layouts{
    width: 100%;
    height: 35%;
    
}

main div.container{
    width: 75%;
    height: 26rem;
    align-items: center;
    padding-top: .5rem;
    border-radius: 25px;
    background-color: #00082C;

    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.363);
}

main div.img-carroussel{
    width: 100%;
    height: 25rem;
}

main div.container img{
    height: 100%;
}


section#apresentação{
    width: 100%;
    height: 200px;
}

/*--- Mobile ---*/
@media screen and (max-width: 900px) {
    main div.container{
        width: 100%;
    }
}



/*-------------------------------------------------------------*/
/*--------------------------*/
/*  ELEMENTOS DO CONTATO    */
/*--------------------------*/
section#contato{
    width: 100%;
    height: 650px;
}

/*--------------------------*/
/*  ELEMENTOS DO FOOTER      */
/*--------------------------*/
/*--- Mobile ---*/

@media screen and (max-width:730px) {
    footer{
        height: 750px;
    }

    footer div#footer-inferior div#footer-inferior-contatos{
        position: absolute;
        width: 80%;
        height: 25%;

        margin-top: 18rem;
    }

    footer div.footer-mestre h3{
        margin-top: 28rem;
        margin-left: 4rem;
    }

}
