/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/
@keyframes navContatos{
    0%{
        opacity: 0;
    }
    80%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes imgZezerino{
    0%{
        opacity: 0;
        width: 0;
        height: 0;
    }
    60%{
        opacity: .5;
        width: 13%;
        height: 10rem;
    }
    100%{
        opacity: 1;
        width: 12%;
        height: 9rem;
    }
}

@keyframes imgZezerinoMobile{
    0%{
        opacity: 0;
        width: 0;
        height: 0;
    }
    60%{
        opacity: .5;
        width: 13%;
        height: 10rem;
    }
    100%{
        opacity: 1;
        width: 24%;
        height: 14rem;
    }
}

@keyframes h1-p{
    0%{
        transform: translateX(210px);
    }
    70%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0);
    }
}
