/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/
@media screen and (max-width: 810px) {

    nav#header-principal-nav-contato{
        justify-content: right;
    }

    nav#header-principal-nav-contato ul#nav-contato-esquerda, nav#header-principal-nav-contato ul#nav-contato-direita{
        display: none;
    }

    /* MENU */
    nav#header-principal-nav-menu{
        justify-content: center;
    }

    nav#header-principal-nav-menu ul.header-nav-menu{
        flex-direction: column;
        flex-wrap: nowrap;
        z-index: 999;
        display: none;
    }

    nav#header-principal-nav-menu ul#nav-menu-esquerda{
        width: 80%;
        height: 18%;
        position: absolute;
        right: 0;
        margin-top: -2.4rem;
        justify-content: start;
        background: linear-gradient(rgba(0,8,44, 0.8) 0%, rgba(89,18,2) 45%, rgba(139, 49, 49, 0.9) 100%);

    }

    nav#header-principal-nav-menu ul#nav-menu-direita{
        width: 80%;
        height: 80%;
        position: absolute;
        right: 0;
        margin-top: 5.8rem;
        background: linear-gradient(rgba(139, 49, 49, 0.9) 0%, rgba(89,18,2) 45%, rgba(0,8,44, 0.8) 100%);
    }

    nav#header-principal-nav-menu ul li{
        margin-top: 1.5rem;
    }

    /*----------- MENUS MOBILE-----------*/
    nav#header-principal-nav-contato ul#icone-menu li{
        list-style: none;
        margin-right: 1rem;
    }

    nav#header-principal-nav-contato ul#icone-menu ion-icon#menu-humburguer{
        font-size: 250%;
        color: #FFF;
    }

    nav#header-principal-nav-contato ul#icone-menu ion-icon#menu-X{
        font-size: 250%;
        color: #FFF;

        display: none;
    }
    /*-----------------------------------------*/

    nav#header-principal-nav-menu div#nav-menu-imagem-zezerino{
        width: 16%;
        height: 12;

        animation-name: imgZezerinoMobile;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-fill-mode: backwards;
    }

    div#header-principal-mestre div#header-mestre-logo{
        width: 20%;
        margin-top: -.5rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    nav#header-principal-nav-menu div#nav-menu-imagem-zezerino{
        width: 18%;
    }

    div#header-principal-mestre div#header-mestre-logo{
        width: 22%;
    }
}

@media screen and (max-width: 500px) {
    nav#header-principal-nav-menu div#nav-menu-imagem-zezerino{
        width: 28%;
    }

    div#header-principal-mestre div#header-mestre-logo{
        width: 28%;
    }
}

/*--------------------------*/
/*   SECTION QUEM SOU       */
/*--------------------------*/

@media screen and (max-width: 810px){

    main#main-principal section#main-principal-quemsou{
        height: 800px;
    }

    section#main-principal-quemsou div#quemsou-superior-mestre{
        width: 90%;

        flex-direction: column;
        flex-wrap: nowrap;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda{
        width: 90%;
        height: 20%;
        margin-top: .5rem;
        margin-bottom: 1rem;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda h4{
        font-size: 140%;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p{
        width: 90%;
        font-size: 90%;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-sup{
        margin-top: -3rem;
        margin-left: .5rem;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-inf{
        margin-left: 23rem;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p#superior-esquerda-autor{
        font-size: 80%;
        text-align: right;
        margin-top: 1rem;
        padding-right: 7rem;
    }
    
    /*---div superior centro img ---*/
    div#quemsou-superior-mestre div#quemsou-superior-centro{
        width: 40%;
        height: 50%;
    }

    /*---div superior direita ---*/
    div#quemsou-superior-mestre div#quemsou-superior-direita{
        width: 90%;
        height: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    div#quemsou-superior-mestre div#quemsou-superior-direita h2{
        font-size: 250%;
        margin-top: .5rem;
    }

    div#quemsou-superior-mestre div#quemsou-superior-direita p{
        font-size: 90%;
    }

    /*--- Inferior skills----*/
    section#main-principal-quemsou div#quemsou-inferior-mestre{
        margin-top: 4.5rem;
    }

    /* --- centro ---*/
    div#quemsou-inferior-skills div#inferior-skills-centro ul{
        width: 130px;
    }

    div#quemsou-inferior-skills div#inferior-skills-centro ul li{
        width: 80%;
    }
}

@media screen and (max-width:700px) {

    main#main-principal section#main-principal-quemsou{
        height: 750px;
    }
    
    div#quemsou-superior-mestre div#quemsou-superior-esquerda p{
        width: 100%;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-inf{
        margin-left: 20rem;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p#superior-esquerda-autor{
        width: 60%;
        font-size: 80%;
        margin-top: .5rem;
        margin-left: 0;
    }

     /*---div superior centro img ---*/
    div#quemsou-superior-mestre div#quemsou-superior-centro{
        width: 35%;
        height: 40%;
    }

    /* --- centro ---*/
    div#quemsou-inferior-skills div#inferior-skills-centro ul{
        width: 110px;
    }

    div#quemsou-inferior-skills div#inferior-skills-centro ul li{
        width: 60%;
    }

    div#quemsou-inferior-skills div#inferior-skills-centro ul p{
        font-size: 80%;
    }

    /*--- Inferior diferenciais----*/
    section#main-principal-quemsou div#quemsou-diferenciais{
        width: 90%;
        height: 12.5rem; 
    }

    div#quemsou-diferenciais div.slides div.slide img{
        width: 10%;
        height: 30%;
    }

    div#quemsou-diferenciais div.slides div.slide div.slide-texto{
        width: 90%; 
        margin-right: 10px;
    }

    div#quemsou-diferenciais h3{
        font-size: 90%;
    }

    div#quemsou-diferenciais div.slides div.slide div.slide-texto p{
        font-size: 70%;
    }
}

@media screen and (max-width:600px) {

    div#quemsou-superior-mestre div#quemsou-superior-esquerda{
        width: 100%;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p{
        font-size: 70%;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-sup{
        font-size: 250%;
    }
    div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-inf{font-size: 250%;
        margin-left: 10rem;
        margin-top: 1rem;
    }

    /*---div superior direita ---*/
    div#quemsou-superior-mestre div#quemsou-superior-direita{
        width: 100%;
    }

    
    div#quemsou-superior-mestre div#quemsou-superior-direita h2{
    font-size: 160%;
    font-family: 'Raleway', sans-seri;
    color: #F40E0E;
    
    }

    div#quemsou-superior-mestre div#quemsou-superior-direita p{
        width: 100%;
        font-size: 70%;
    }

    /*---div superior centro img ---*/
    div#quemsou-superior-mestre div#quemsou-superior-centro{
        width: 55%;
        height: 50%;
    }
    
    /*--- Inferior ----*/
    section#main-principal-quemsou div#quemsou-inferior-mestre h4{
        font-size: 110%;
    }

    section#main-principal-quemsou div#quemsou-inferior-mestre p{
        font-size: 80%;
    }

    section#main-principal-quemsou div#quemsou-inferior-mestre h3{
        font-size: 100%;
    }

    section#main-principal-quemsou div#quemsou-diferenciais{
        left: 1rem;
    }

}

@media screen and (max-width:500px) {
        
    div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-inf{
        font-size: 250%;
        margin-left: 8rem;
    }

    div#quemsou-superior-mestre div#quemsou-superior-esquerda p#superior-esquerda-autor{
        width: 80%;
        font-size: 60%;
        margin-left: 0;
    }

    /*--- Inferior diferenciais----*/
    div#quemsou-diferenciais .manual-navigation{
        left: 8rem;
        margin-top: -32px;
    }

    .navigation-auto{
        margin-top: 6.9rem;
        margin-left: -4.3rem;
    }

}

@media screen and (max-width:400px) {
    div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-inf{font-size: 250%;
        margin-left: 3rem;
    }

     /*---div superior centro img ---*/
     div#quemsou-superior-mestre div#quemsou-superior-centro{
        width: 75%;
        height: 40%;
    }

    /*--- Inferior diferenciais----*/
    div#quemsou-diferenciais .manual-navigation{
        left: 8rem;
        margin-top: -32px;
    }

    .navigation-auto{
        margin-top: 6.9rem;
        margin-left: -4.6rem;
    }
    
}

@media screen and (max-width:320px) {
    /*--- Inferior diferenciais----*/
    .navigation-auto{
        margin-left: -5rem;
    }
}

/*--------------------------*/
/*   SECTION O QUE FAÇO     */
/*--------------------------*/

@media screen and (max-width:700px) {

    section#oque-faco div#oque-faco-mestre{
        width: 95%;
    }

    div#oque-faco-mestre div#oque-faco-mestre-superior{
        width: 100%;
    }

    div#oque-faco-mestre-superior div#oque-faco-centro{
        width: 100%;
    }

    div#oque-faco-mestre-superior div#oque-faco-centro img{
        width: 25%;
        height: 30%;
    }

    section#oque-faco h1{
        font-size: 350%;
    }

    section#oque-faco h2{
        font-size: 130%;
    }

    div#oque-faco-mestre-superior div#oque-faco-centro h2, div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda h2, div#oque-faco-mestre-inferior div#oque-faco-inferior-direita h2{
        font-size: 110%;
    }

    div#oque-faco-mestre-superior div#oque-faco-centro p, div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda p, div#oque-faco-mestre-inferior div#oque-faco-inferior-direita p{
        font-size: 80%;
        width: 100%;
    }

    /*---inferior---*/
    section#oque-faco div#oque-faco-mestre-inferior{
        width: 95%;
    }

    div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda, div#oque-faco-mestre-inferior div#oque-faco-inferior-direita{
        width: 100%;
    }

    div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda img{
        width: 25%;
        max-width: 30%;
    }
}

/*--------------------------*/
/*  ELEMENTOS DO PORTFÓLIO  */
/*--------------------------*/

@media screen and (max-width:700px) {
    
    section#portfolio{
        height: 550px;
    }
    section#portfolio div#portfolio-apresentacao{
        height: 35%;
    }

    section#portfolio div#portfolio-apresentacao h2{
        font-size: 200%;
    }

    section#portfolio div#portfolio-apresentacao p{
        width: 90%;
        font-size: 90%;
    }

    section#portfolio div#portfolio-apresentacao a{
        font-size: 90%;
        padding: 10px 15px;
    }

    div#portfolio-trabalhos-mestre{
        height: 65%;
    }
}

@media screen and (max-width:500px) {
     section#portfolio div#portfolio-trabalhos-direita{
        display: none;
    }

    section#portfolio div#portfolio-trabalhos-esquerda{
        width: 50%;
    }

    section#portfolio div#portfolio-trabalhos-centro{
        width: 50%;
    }
}

@media screen and (max-width:415px) {

    section#portfolio{
        height: 700px;
    }

    section#portfolio div#portfolio-apresentacao{
        height: 30%;
    }

    section#portfolio div#portfolio-trabalhos-centro{
        display: none;
    }

    div#portfolio-trabalhos-mestre{
        height: 70%;
    }

    section#portfolio div#portfolio-trabalhos-esquerda{
        width: 100%;
    }
}

/*--------------------------*/
/*  ELEMENTOS DO CONTATO    */
/*--------------------------*/

@media screen and (max-width:700px) {
    section#contato{
        height: 800px;
        align-items: center;
        margin-top: 2rem;
    
        flex-direction: column;
        flex-wrap: nowrap;
    }

    section#contato div#contato-formulario{
        width: 90%;
        margin-right: 0;
    }

    section#contato div#contato-formulario h3{
        font-size: 140%;
    }

    div#contato-formulario form input.formulario,select#assunto{
        height: 2rem;
        margin-top: 1rem;
    }

    div#contato-formulario label{
        font-size: 80%;
        margin-bottom: -2rem;
    }

    div#contato-formulario form textarea#message{
        font-size: 90%;
        margin-top: .5rem;
    }

    section#contato div#contato-formulario #form-mensagem-botao{
        padding: .5rem 38%;
        margin-bottom: 1rem;
    }

    /*----localização------*/
    section#contato div#contato-localizacao{
        width: 90%;
        margin-right: 1rem;
    }
}

@media screen and (max-width:420px) {
    section#contato div#contato-formulario #form-mensagem-botao{
        padding: .5rem 34%;
        margin-bottom: 1rem;
    }
}

/*--------------------------*/
/*  ELEMENTOS DO FOOTER      */
/*--------------------------*/

@media screen and (max-width:730px) {
    footer{
        height: 600px;
    }

    footer div#footer-superior{
        height: 25%;

    }

    footer div#footer-superior div#footer-logo{
        width: 15%;
        height: 60%;
    }

    footer hr{
        margin-top: 2.4rem;
    }

    footer div#footer-inferior{
        flex-wrap: nowrap;
        width: 80%;
        margin-top: -2rem;
    }

    /*Menu*/
    footer div#footer-inferior div#footer-inferior-menu{
        width: 40%;
        height: 50%;
    }

    /*Redes sociais*/
    footer div#footer-inferior div#footer-inferior-redes-sociais{
        width: 50%;
        height: 50%;
    }

    footer div#footer-inferior div#footer-inferior-contatos{
        position: absolute;
        width: 45%;
        height: 25%;

        margin-top: 15rem;
    }

    footer div.footer-mestre h3{
        margin-top: 24rem;
        margin-left: 7rem;
    }
}

@media screen and (max-width:560px) {

    footer div.footer-mestre{
        width: 100%;
    }

    footer div#footer-inferior{
        width: 90%;
    }

    footer div.footer-mestre h3{
        margin-left: 2.5rem;

    }

    footer div#footer-inferior div#footer-inferior-contatos{
        width: 80%;
    }
}

@media screen and (max-width:370px) {
    footer div#footer-inferior{
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    footer div#footer-inferior div#footer-inferior-menu h2, footer div#footer-inferior div#footer-inferior-redes-sociais h2, footer div#footer-inferior div#footer-inferior-contatos h2{
        font-size: 110%;
    }

    footer div#footer-inferior div#footer-inferior-menu ul li a, footer div#footer-inferior div#footer-inferior-redes-sociais ul li a{
        font-size: 80%;
    }

    footer div.footer-mestre h3{
        margin-left: 1rem;
    }
}

