/*
CORES

Azul escuro = #13182B
Branco = #FFFF
Azul quem sou = #00082C   #09102B

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #13182B;
}

::-webkit-scrollbar {
    display: none;
}

/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

header#header-principal{
    width: 100%;
    height: 583px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

nav#header-principal-nav-contato{
    width: 100%;
    height: 3rem;
    box-shadow: inset 0px 35px 35px #0000008a;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* nav superior redes sociais */
nav#header-principal-nav-contato ul#nav-contato-esquerda{
    width: 30%;
    height: 100%;
    margin-left: 3rem;
    align-items: center;
    

    display: flex;
    flex-flow: row wrap;
}

/* nav superior contato */
nav#header-principal-nav-contato ul#nav-contato-direita{
    width: 60%;
    height: 100%;
    margin-right: 3rem;
    align-items: center;


    display: flex;
    flex-flow: row wrap;
    justify-content: end;

}

/*----HEADER IMAGEM BACKGROUND-----*/
div#header-principal-inferior{
    width: 100%;
    height: 535px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)), url(../imagens/01-background-heder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*----Nav inferior menu-----*/
nav#header-principal-nav-menu{
    width: 100%;
    height: 10rem;
    margin-top: 2.5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav#header-principal-nav-menu ul.header-nav-menu{
    width: 40%;
    height: 100%;
    align-items: center;
    
    display: flex;
    flex-flow: row wrap;
}

nav#header-principal-nav-menu ul#nav-menu-esquerda{
    justify-content: end;
}

nav#header-principal-nav-menu ul#nav-menu-direita{
    justify-content: start;
}

/*----Nav inferior menu imagem Zezerino-----*/
nav#header-principal-nav-menu div#nav-menu-imagem-zezerino{
    width: 12%;
    height: 9rem; 
}

nav#header-principal-nav-menu div#nav-menu-imagem-zezerino img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    border-radius: 50%;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.514);
}

/*----div inferior imagem logo p h1-----*/
div#header-principal-inferior div#header-principal-mestre{
    width: 80%;
    height: 58%;
    margin: auto;
    align-items: center;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div#header-principal-mestre div#header-mestre-logo{
    width: 14%;
    height: 35%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

div#header-principal-mestre div#header-mestre-logo img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/*--------------------------*/
/*   SECTION QUEM SOU       */
/*--------------------------*/

main#main-principal section#main-principal-quemsou{
    width: 100%;
    height: 600px;
    margin-bottom: 2rem;
    background-color: #00082C ;
    opacity: .5;
    padding-top: 2rem;
}

section#main-principal-quemsou div#quemsou-superior-mestre{
    width: 85%;
    height: 70%;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda{
    width: 32%;
    height: 50%;
    margin-top: 4rem;
}

div#quemsou-superior-mestre div#quemsou-superior-centro{
    width: 30%;
    height: 70%;
    margin: auto;
    padding: 8px;

    border-radius: 50%;
    border: solid #FFFF;
    border-left-width: 20px;
    border-right-width: 20px;
    border-left-style: dashed;   
}

div#quemsou-superior-centro div#superior-centro-imagem{
    width: 100%;
    height: 100%;
}

div#quemsou-superior-centro div#superior-centro-imagem img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;

    opacity: 0.7;
}

div#quemsou-superior-mestre div#quemsou-superior-direita{
    width: 32%;
    height: 80%;
    margin-top: 4rem;
}
