/*
CORES

Azul escuro = #13182B
Branco = #FFFF
Azul quem sou = #00082C   #09102B

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #13182B;
}

::-webkit-scrollbar {
    display: none;
}

/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

header#header-principal{
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

nav#header-principal-nav-contato{
    width: 100%;
    height: 3rem;
    box-shadow: inset 0px 35px 35px #0000008a;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* nav superior redes sociais */
nav#header-principal-nav-contato ul#nav-contato-esquerda{
    width: 30%;
    height: 100%;
    margin-left: 3rem;
    align-items: center;
    

    display: flex;
    flex-flow: row wrap;
}

/* nav superior contato */
nav#header-principal-nav-contato ul#nav-contato-direita{
    width: 60%;
    height: 100%;
    margin-right: 3rem;
    align-items: center;


    display: flex;
    flex-flow: row wrap;
    justify-content: end;

}








div#header-principal-inferior{
    width: 100%;
    height: 535px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)), url(../imagens/01-background-heder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}