/*
CORES

Azul escuro = #13182B
Branco = #FFFF
Azul quem sou = #00082C   #09102B

div#teste{
    background-color: aquamarine;
    position: fixed;
    top: 0; left: 0;
    width: 300px;
    height: 60px;
    z-index: 10;
    color: #000;
}
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #13182B;
}

::-webkit-scrollbar {
    display: none;
}

/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

header#header-principal{
    width: 100%;
    height: 583px;

    display: flex;
    flex-direction: column;
    justify-content: start;
}

nav#header-principal-nav-contato{
    width: 100%;
    height: 3rem;
    box-shadow: inset 0px 35px 35px #0000008a;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/*----------- MENUS MOBILE-----------*/

nav#header-principal-nav-contato ul#icone-menu li{
    display: none;
}

/* nav superior redes sociais */
nav#header-principal-nav-contato ul#nav-contato-esquerda{
    width: 30%;
    height: 100%;
    align-items: center;
    margin-left: 40px;
    

    display: flex;
    flex-flow: row wrap;
}

/* nav superior contato */
nav#header-principal-nav-contato ul#nav-contato-direita{
    width: 50%;
    height: 100%;
    align-items: center;
    margin-right: 40px;


    display: flex;
    flex-flow: row wrap;
    justify-content: right;
}

/*----HEADER IMAGEM BACKGROUND-----*/
div#header-principal-inferior{
    width: 100%;
    height: 535px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0)), url(../imagens/01-background-heder.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/*----Nav inferior menu-----*/
nav#header-principal-nav-menu{
    width: 100%;
    height: 10rem;
    margin-top: 2.5rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

nav#header-principal-nav-menu ul.header-nav-menu{
    width: 40%;
    height: 100%;
    align-items: center;
    
    display: flex;
    flex-flow: row wrap;
}

nav#header-principal-nav-menu ul#nav-menu-esquerda{
    justify-content: end;
}

nav#header-principal-nav-menu ul#nav-menu-direita{
    justify-content: start;
}

/*----Nav inferior menu imagem Zezerino-----*/
nav#header-principal-nav-menu div#nav-menu-imagem-zezerino{
    width: 12%;
    height: 9rem;
    
    animation-name: imgZezerino;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

nav#header-principal-nav-menu div#nav-menu-imagem-zezerino img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    border-radius: 50%;
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.514);
}

/*----div inferior imagem logo p h1-----*/
div#header-principal-inferior div#header-principal-mestre{
    width: 80%;
    height: 58%;
    margin: auto;
    align-items: center;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

div#header-principal-mestre div#header-mestre-logo{
    width: 14%;
    height: 35%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

div#header-principal-mestre div#header-mestre-logo img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/*--------------------------*/
/*   SECTION QUEM SOU       */
/*--------------------------*/

/*--- Superior ----*/
main#main-principal section#main-principal-quemsou{
    width: 100%;
    height: 600px;
    margin-bottom: 2rem;
    background-color: #00082C ;
    opacity: .5;
    padding-top: 2rem;

}

section#main-principal-quemsou div#quemsou-superior-mestre{
    width: 85%;
    height: 65%;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda{
    width: 32%;
    height: 50%;
    margin-top: 4rem;
}

div#quemsou-superior-mestre div#quemsou-superior-centro{
    width: 30%;
    height: 70%;
    margin: auto;
    padding: 8px;

    border-radius: 50%;
    border: solid #FFFF;
    border-left-width: 20px;
    border-right-width: 20px;
    border-left-style: dashed;   
}

div#quemsou-superior-centro div#superior-centro-imagem{
    width: 100%;
    height: 100%;
}

div#quemsou-superior-centro div#superior-centro-imagem img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;

    opacity: 0.7;
}

div#quemsou-superior-mestre div#quemsou-superior-direita{
    width: 32%;
    height: 80%;
    margin-top: 4rem;
}

/*--- Inferior ----*/
section#main-principal-quemsou div#quemsou-inferior-mestre{
    width: 100%;
    height: 25%;
    margin: auto;
}

/*--- Inferior skills----*/

/*--- lados ---*/
div#quemsou-inferior-skills-mestre{
    width: 100%;
    height: 100%;
    margin-top: 2rem;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;

}

div#inferior-skills-direita, div#inferior-skills-esquerda{
    width: 10%;
    height: 100px;
    cursor: pointer;
}


div#inferior-skills-direita ion-icon, div#inferior-skills-esquerda ion-icon{
    width: 90%;
    height: 90%;
    color: #F40E0E;
    margin-top: .4rem;
}

/* --- centro ---*/
div#quemsou-inferior-mestre div#quemsou-inferior-skills{
    width: 80%;
    height: 9.7rem;
    margin: auto;
    margin-top: .2rem;
    margin-bottom: 1rem;
    position: relative;

    max-width: 1010px;
    overflow: hidden;   
}

div#quemsou-inferior-skills div#inferior-skills-centro{
    position: absolute;
    left: 0;
    width: 2680px;
}

div#quemsou-inferior-skills div#inferior-skills-centro ul{
    display: inline-table;
    width: 110px;
    text-align: center;
    padding: 1px;

    margin-right: 32px;
}

div#quemsou-inferior-skills div#inferior-skills-centro ul li{
    list-style: none;
    display: inline-table;
    width: 100%;
    margin: 0;
}

div#quemsou-inferior-skills div#inferior-skills-centro ul li img{
    width: 100%;
    border-radius: 10px;
}

/*--- Inferior diferenciais----*/

section#main-principal-quemsou div#quemsou-diferenciais{
    
    position: sticky;
    left: 2rem;

    width: 500px;
    height: 220px;
    margin: auto;
    margin-top: 15rem;
    padding: 1rem;

    text-align: center;
    overflow: hidden;

    border-radius: 10px;
    box-shadow: -2px 2px 5px rgba(255, 80, 80, 0.555);

}

div#quemsou-diferenciais div.slides{
    width: 400%;
    height: 85%;
    display: flex;
    margin-top: 2rem;
}

div#quemsou-diferenciais div.slides input{
    display: none;
}

div#quemsou-diferenciais div.slides div.slide{
    width: 26%;
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}


div#quemsou-diferenciais div.slides div.slide img{
    width: 20%;
    max-width: 100%;
    height: 50%;
    margin-top: 2rem;
}

div#quemsou-diferenciais div.slides div.slide div.slide-texto{
    width: 70%; 
    margin-right: 10px;
}

div#quemsou-diferenciais .manual-navigation{
    position: absolute;
    width: 26%;
    margin-top: -25px;
    left: 180px;
    
    display: flex;
    justify-content: center;
}

div#quemsou-diferenciais label.manual-btn{
    border: 2px solid #FFFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

div#quemsou-diferenciais label.manual-btn:not(last-child){
    margin-right: 10px;
}

div#quemsou-diferenciais label.manual-btn:hover{
    background-color: #F40E0E;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -26%;
}

#radio3:checked ~ .first{
    margin-left: -52%;
}

.navigation-auto div{
    border: 2px solid #F40E0E;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 135px;
    left: -154px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(last-child){
    margin-right: 10px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{

    background-color: #F40E0E;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #F40E0E;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #F40E0E;
}

/*--------------------------*/
/*   SECTION O QUE FAÇO     */
/*--------------------------*/

/*---superior---*/
section#oque-faco{
    width: 100%;
    height: 900px;
    margin-top: 30rem;
    align-items: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;

}

section#oque-faco div#oque-faco-mestre{
    width: 80%;
    height: 45%;
    margin-top: 2rem;
}

div#oque-faco-mestre div#oque-faco-mestre-superior{
    margin: auto;
    width: 70%;
    height: 83%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

div#oque-faco-mestre-superior div#oque-faco-borda-esq{
    position: absolute;
    width: 5px;
    height: 239px;
    background-color: #FFFF;  
    margin-top: 6rem;
    margin-left: -18rem;
    transform: skew(50deg); 
}

div#oque-faco-mestre-superior div#oque-faco-borda-dir{
    position: absolute;
    width: 5px;
    height: 239px;
    background-color: #FFFF;
    margin-top: 6rem;
    margin-right: -18rem;

    transform: skew(-50deg); 
}

div#oque-faco-mestre-superior div#oque-faco-borda-centro{
    position: absolute;
    width: 4px;
    height: 290px;
    margin-top: 20.9rem;
    background-color: #FFFF; 
}

div#oque-faco-mestre-superior div#oque-faco-centro{
    width: 40%;
    height: 300px;
    align-items: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

div#oque-faco-mestre-superior div#oque-faco-centro img{
    width: 25%;
    height: 20%;

    max-width: 100%;
    max-height: 100%;
}

/*---inferior---*/
section#oque-faco div#oque-faco-mestre-inferior{
    position: relative;
    width: 70%;
    height: 90%;
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda{
    width: 40%;
    height: 100%;
    margin-left: 2rem;
    align-items: center;
    margin-right: 2.2rem;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda img{
    width: 25%;
    max-width: 100%;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-direita{
    width: 40%;
    height: 100%;
    margin-left: 2rem;
    align-items: center;
    margin-right: 2.2rem;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;

    display: none;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-direita img{
    width: 25%;
    max-width: 100%;
}

/*--------------------------*/
/*  ELEMENTOS DO PORTFÓLIO  */
/*--------------------------*/

section#portfolio{
    width: 100%;
    height: 500px;
    background-color: #F40E0E;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section#portfolio div#portfolio-apresentacao{
    width: 30%;
    height: 100%;
    align-items: center;
    

    display: flex;
    flex-direction: column;
    justify-content: start;
}

div#portfolio-trabalhos-mestre{
    width: 70%;
    height: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section#portfolio div.portfolio-trabalhos{
    position: relative;
    width: 33.33%;
    height: 100%;
    
    cursor: pointer;
}

div.portfolio-trabalhos div.portfolio-trabalhos-img{
    width: 100%;
    height: 100%;   
}

div.portfolio-trabalhos div.portfolio-trabalhos-img img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

div.portfolio-trabalhos:hover div.portfolio-trabalhos-img + div.portfolio-trabalhos-texto{
    display: block;
}

div.portfolio-trabalhos div.portfolio-trabalhos-texto{
    width: 100%;
    height: 40%;
    background-color: rgb(255, 13, 13);
    z-index: 2;
    padding: 5px;
    opacity: 0.9;
    margin-top: -12.5rem;
    cursor: pointer;

    display: none;
}

/*--------------------------*/
/*  ELEMENTOS DO CONTATO    */
/*--------------------------*/

section#contato{
    width: 100%;
    height: 580px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #13182B;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

section#contato div#contato-formulario{
    width: 40%;
    height: 90%;
    margin-top: 1.5rem;
    margin-right: 1rem;
    text-align: center;
    background-color: #13182B;
    
    border: .2px solid rgba(245, 87, 87, 0.308);
    border-radius: 20px;
    box-shadow: -2px 2px 6px rgba(245, 87, 87, 0.192);

}

/*----localização------*/
section#contato div#contato-localizacao{
    width: 40%;
    height: 90%;
    margin-top: 1.5rem;
    margin-left: 1rem;
    border-radius: 20px;
    box-shadow: -3px 3px 6px rgba(245, 87, 87, 0.281);
}

section#contato div#contato-localizacao iframe{
    border-radius: 20px;
}

/*--------------------------*/
/*  ELEMENTOS DO FOOTER      */
/*--------------------------*/

footer{
    width: 100%;
    height: 600px;
    background-color: #0d101f;
}

footer div.footer-mestre{
    width: 90%;
    height: 100%;
    margin: auto;
    padding-top: 2.5rem;
}

footer div#footer-superior{
    width: 100%;
    height: 30%;
    
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

footer div#footer-superior div#footer-logo{
    width: 15%;
    height: 100%;
    margin-left: 1rem;
}

footer div#footer-superior div#footer-logo img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

footer hr{
    width: 80%;
    height: 2px;
    margin-top: 3.5rem;
    margin-right: 1.5rem;
    background-color: #FFFF;
    border: 0;
}

footer div#footer-inferior{
    width: 80%;
    height: 65%;
    margin: auto;
    margin-top: 1.5rem;
    margin-right: 1rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*Menu*/
footer div#footer-inferior div#footer-inferior-menu{
    width: 25%;
    height: 100%;
}

footer div#footer-inferior div#footer-inferior-menu ul{
    width: 95%;
    display: flex;
    flex-direction: column;
}

/*Redes sociais*/
footer div#footer-inferior div#footer-inferior-redes-sociais{
    width: 30%;
    height: 100%;
}

footer div#footer-inferior div#footer-inferior-redes-sociais ul{
    display: flex;
    flex-flow: row wrap;
}

/*Contatos*/
footer div#footer-inferior div#footer-inferior-contatos{
    width: 45%;
    height: 100%;
}

footer div#footer-inferior div#footer-inferior-contatos ul{
    display: flex;
    flex-flow: row wrap;
}
