/*

font-family: 'Blinker', sans-serif;
font-family: 'Cabin Sketch', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Raleway', sans-seri
font-family: 'Recursive', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;

CORES

Azul escuro = #13182B
Branco = #FFFF
Azul quem sou = #00082C
*/

*{
    font-size: 16px;
}

h1, h2 {
    font-size: 390%;
}


/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

/* nav superior redes sociais */
nav#header-principal-nav-contato ul#nav-contato-esquerda li{
    list-style: none;
    margin-left: 2%;
    margin-top: .5rem;
}

nav#header-principal-nav-contato ul#nav-contato-esquerda li a{
    text-decoration: none;
}

nav#header-principal-nav-contato ul#nav-contato-esquerda li a ion-icon{
    font-size: 180%;
    color: #FFFF
    ;
}

/* nav superior contato */
nav#header-principal-nav-contato ul#nav-contato-direita li{
    list-style: none;
    margin-left: 3%;
}

nav#header-principal-nav-contato ul#nav-contato-direita li ion-icon{
    font-size: 200%;
    color: #FFFF;
}

nav#header-principal-nav-contato ul#nav-contato-direita li p{
    font-size: 90%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFF;
}

nav#header-principal-nav-contato ul#nav-contato-direita li h3{
    font-size: 200%;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #FFFF;
    margin-left: 1rem;
}

/*----Nav inferior menu-----*/
nav#header-principal-nav-menu ul li{
    list-style: none;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

nav#header-principal-nav-menu ul li a{
    text-decoration: none;
    font-size: 90%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #FFFF;
}

/*----div inferior imagem logo p h1-----*/
div#header-principal-mestre p{
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFF;

    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.336);
}

div#header-principal-mestre h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #FFFF;

    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.336);
}

/*--------------------------*/
/*   SECTION QUEM SOU       */
/*--------------------------*/

/*---div superior direita ---*/
div#quemsou-superior-mestre div#quemsou-superior-esquerda h4{
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-left: 1.5rem;
    color: #F40E0E;
    margin-bottom: 1.5rem;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p{
    width: 85%;
    font-style: oblique;
    margin-left: 1rem;
    text-align: left;
    font-size: 100%;
    color: #FFFF;
    font-family: 'Ubuntu', sans-serif;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-sup{
    font-size: 300%;
    color: #F40E0E;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    position: absolute;
    left: 5.4rem;
    top: 43.5rem;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-inf{
    font-size: 300%;
    color: #F40E0E;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    
    position: absolute;
    left: 19rem;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p#superior-esquerda-autor{
    font-size: 70%;
    margin-top: 0.4rem;
    margin-left: 7rem;
}

/*---div superior direita ---*/
div#quemsou-superior-mestre div#quemsou-superior-direita h2{
    font-size: 200%;
    font-family: 'Raleway', sans-seri;
    color: #F40E0E;
    
}

div#quemsou-superior-mestre div#quemsou-superior-direita p{
    width: 95%;
    font-size: 90%;
    font-size: 100%;
    color: #FFFF;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    text-align: left;
}

/*--- Inferior ----*/
section#main-principal-quemsou div#quemsou-inferior-mestre h4{
    font-size: 130%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #F40E0E;
    margin-left: 5rem;
    margin-bottom: .3rem;
    text-transform: uppercase;
}

section#main-principal-quemsou div#quemsou-inferior-mestre p{
    font-size: 90%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFF;
    margin-left: 5rem;
}

section#main-principal-quemsou div#quemsou-inferior-mestre h3{
    font-size: 130%;
    font-family: 'Rubik', sans-serif;
    color: #FFFF;
    margin-top: 2.5rem;
    text-align: center;
}

div#quemsou-inferior-skills div#inferior-skills-centro ul p{
    font-size: 120%;
    margin: auto;
}

/*--- Inferior diferenciais----*/

div#quemsou-diferenciais div.slides div.slide div.slide-texto h3{
    color: #FFFF;
    margin-bottom: 10px;
    margin-left: 1rem;
    text-align: left;
}

div#quemsou-diferenciais div.slides div.slide div.slide-texto p{
    width: 90%;
    color: #FFFF;
    text-align: left;
    margin-left: 1rem;
}