/*

font-family: 'Blinker', sans-serif;
font-family: 'Cabin Sketch', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Raleway', sans-seri
font-family: 'Recursive', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif;

CORES

Azul escuro = #13182B
Branco = #FFFF
Azul quem sou = #00082C
*/

*{
    font-size: 16px;
}

h1, h2 {
    font-size: 390%;
}


/*--------------------------*/
/*  ELEMENTOS DO HEADER     */
/*--------------------------*/

/* nav superior redes sociais */
nav#header-principal-nav-contato ul#nav-contato-esquerda li{
    list-style: none;
    margin-left: 2%;
    margin-top: .5rem;
}

nav#header-principal-nav-contato ul#nav-contato-esquerda li a{
    text-decoration: none;
}

nav#header-principal-nav-contato ul#nav-contato-esquerda li a ion-icon{
    font-size: 180%;
    color: #FFFF
    ;
}

nav#header-principal-nav-contato ul#nav-contato-esquerda li a ion-icon:hover{
    color: #F40E0E;
    transition: 1s;
}

/* nav superior contato */
nav#header-principal-nav-contato ul#nav-contato-direita li{
    list-style: none;
    margin-left: 3%;
}

nav#header-principal-nav-contato ul#nav-contato-direita li ion-icon{
    font-size: 200%;
    color: #FFFF;
}

nav#header-principal-nav-contato ul#nav-contato-direita li p{
    font-size: 90%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFF;
}

nav#header-principal-nav-contato ul#nav-contato-direita li h3{
    font-size: 200%;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #FFFF;
    margin-left: 1rem;
}

/*----Nav inferior menu-----*/
nav#header-principal-nav-menu ul li{
    list-style: none;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

nav#header-principal-nav-menu ul li a{
    text-decoration: none;
    font-size: 90%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #FFFF;
}

nav#header-principal-nav-menu ul li a:hover{
    color: #F40E0E;
    padding-bottom: .5rem;
    border-bottom: 1px solid #F40E0E;
    transition: 1s;
}

/*----div inferior imagem logo p h1-----*/
div#header-principal-mestre p{
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFF;

    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.336);
}

div#header-principal-mestre h1{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #FFFF;

    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.336);
}

/*--------------------------*/
/*   SECTION QUEM SOU       */
/*--------------------------*/

/*---div superior direita ---*/
div#quemsou-superior-mestre div#quemsou-superior-esquerda h4{
    font-size: 120%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    margin-left: 1.5rem;
    color: #F40E0E;
    margin-bottom: 1.5rem;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p{
    width: 85%;
    font-style: oblique;
    margin-left: 1rem;
    text-align: left;
    font-size: 100%;
    color: #FFFF;
    font-family: 'Ubuntu', sans-serif;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-sup{
    font-size: 300%;
    color: #F40E0E;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    position: absolute;
    left: 5.4rem;
    top: 43.5rem;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p span.drop-inf{
    font-size: 300%;
    color: #F40E0E;
    font-family: 'Recursive', sans-serif;
    font-style: normal;
    
    position: absolute;
    left: 19rem;
}

div#quemsou-superior-mestre div#quemsou-superior-esquerda p#superior-esquerda-autor{
    font-size: 70%;
    margin-top: 0.4rem;
    margin-left: 7rem;
}

/*---div superior direita ---*/
div#quemsou-superior-mestre div#quemsou-superior-direita h2{
    font-size: 200%;
    font-family: 'Raleway', sans-seri;
    color: #F40E0E;
    
}

div#quemsou-superior-mestre div#quemsou-superior-direita p{
    width: 95%;
    font-size: 90%;
    font-size: 100%;
    color: #FFFF;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
    text-align: left;
}

/*--- Inferior ----*/
section#main-principal-quemsou div#quemsou-inferior-mestre h4{
    font-size: 130%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: #F40E0E;
    margin-left: 5rem;
    margin-bottom: .3rem;
    text-transform: uppercase;
}

section#main-principal-quemsou div#quemsou-inferior-mestre p{
    font-size: 90%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFF;
    margin-left: 5rem;
}

section#main-principal-quemsou div#quemsou-inferior-mestre h3{
    font-size: 130%;
    font-family: 'Rubik', sans-serif;
    color: #FFFF;
    margin-top: 2.5rem;
    text-align: center;
}

div#quemsou-inferior-skills div#inferior-skills-centro ul p{
    font-size: 120%;
    margin: auto;
}

/*--- Inferior diferenciais----*/
div#quemsou-diferenciais h3{
    color: #FFFF;
}

div#quemsou-diferenciais div.slides div.slide div.slide-texto h3{
    color: #FFFF;
    margin-bottom: 10px;
    margin-left: 1rem;
    text-align: left;
}

div#quemsou-diferenciais div.slides div.slide div.slide-texto p{
    width: 90%;
    color: #FFFF;
    text-align: left;
    margin-left: 1rem;
}

/*--------------------------*/
/*   SECTION O QUE FAÇO     */
/*--------------------------*/

section#oque-faco h1{
    font-size: 500%;
    color: #F40E0E;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 600;
    text-shadow: 4px 6px 10px rgba(0, 0, 0, 0.411);
    margin-top: 2rem;
}

section#oque-faco h2{
    font-size: 180%;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFF;
    text-transform: uppercase;
}

div#oque-faco-mestre-superior div#oque-faco-centro h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 800;
    margin-top: .5rem;
    margin-bottom: .1rem;
}

div#oque-faco-mestre-superior div#oque-faco-centro h3{
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

div#oque-faco-mestre-superior div#oque-faco-centro p{
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: .5rem;

}

div.botao-saiba-mais{
    padding: 2px 10px;
    border: 1px solid #FFFF;
    border-radius: 10px;
    margin-top: 1rem;
    cursor: pointer;
}

div.botao-saiba-mais:hover{
    background-color: #F40E0E;
    transition: 1s;
}

div.botao-saiba-mais a{
    text-decoration: none;
}

div.botao-saiba-mais h5{
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
}

/*---inferior---*/
div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 800;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .1rem;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda p{
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: .5rem;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-esquerda h3{
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-direita h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140%;
    font-weight: 800;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .1rem;
}

div#oque-faco-mestre-inferior div#oque-faco-inferior-direita p{
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: .5rem;
}

iv#oque-faco-mestre-inferior div#oque-faco-inferior-direita h3{
    color: #FFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
    text-align: center;
}

/*--------------------------*/
/*  ELEMENTOS DO PORTFÓLIO  */
/*--------------------------*/

section#portfolio div#portfolio-apresentacao h2{
    font-size: 280%;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #FFFF;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section#portfolio div#portfolio-apresentacao p{
    width: 42%;
    font-size: 90%;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #FFFF;
    line-height: 1.5;
    margin-bottom: 5rem;
    margin-left: -2rem;
    
}

section#portfolio div#portfolio-apresentacao a{
    text-decoration: none;
    color: #FFFF;
    padding: 15px 20px;

    border: 1px solid #FFFF;
    border-radius: 10px;
}

div.portfolio-trabalhos-img div.portfolio-trabalhos-texto h3{
    color: #FFFF;
    font-size: 160%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-align: center;
}

div.portfolio-trabalhos-img div.portfolio-texto-p{
    display: flex;
    flex-flow: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.portfolio-trabalhos-img div.portfolio-trabalhos-texto p{
    color: #F40E0E;
    font-size: 80%;
    padding: 5px;
    margin-left: 1rem;
    border-radius: 10px;
    border: 1px solid #FFFF;
    background-color: #FFFF;
}

div.portfolio-trabalhos-img div.portfolio-trabalhos-texto h4{
    color: #FFFF;
    border-radius: 10px;
    border: 1px solid #FFFF;
    padding: 10px;

    text-align: center;
}

div.portfolio-trabalhos-img div.portfolio-trabalhos-texto a{
    text-decoration: none;
}

/*--------------------------*/
/*  ELEMENTOS DO CONTATO    */
/*--------------------------*/

section#contato div#contato-formulario h3{
    color: #FFFF;
    font-size: 180%;
    font-family: 'Blinker', sans-serif;
    text-transform: uppercase;
    margin-top: 1.5rem;
    
}

div#contato-formulario form input.formulario,select#assunto{
    background-color: #FFFF;   
    color: #13182B;
    padding-left: .5rem;
    margin-top: 1.5rem;
    width: 90%;
    height: 2.5rem;

    border: 1px solid #13182B;
    border-radius: 15px;
    outline: none;   
}

div#contato-formulario label{
    display: flex;
    justify-content: left;

    margin-left: 3.3rem;
    margin-top: .8rem;
    margin-bottom: -1.9rem;
}

div#contato-formulario label{
    font-family: 'Almarai', sans-serif;
    color: #FFFF;
}

div#contato-formulario input::placeholder {
    color: #13182B;
}

div#contato-formulario form textarea#message{
    font-size: 110%;
    background-color: #FFFF;
    color: #13182B;
    padding-left: .5rem;
    margin-top: 1rem;
    width: 90%;

    border: 2px solid #13182B;
    border-radius: 15px;
    outline: none;
}

div#contato-formulario  textarea::placeholder{
    color: #13182B;
}

section#contato div#contato-formulario #form-mensagem-botao{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-size: 120%;
    font-weight: 600;
    background: linear-gradient(rgba(244,14,14, 0.8) 0%, rgba(114, 10, 10) 50%, rgba(244,14,14, 0.8) 100%);   
    padding: .5rem 38%;
    margin-top: .5rem;
    text-transform: uppercase;

    border: 1px solid rgba(114, 10, 10);
    border-radius: 25px;
}

/*--------------------------*/
/*  ELEMENTOS DO FOOTER      */
/*--------------------------*/

/*Menu*/
footer div#footer-inferior div#footer-inferior-menu h2{
    color: #F40E0E;
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

footer div#footer-inferior div#footer-inferior-menu ul li{
    list-style: none;
    margin-top: 1rem;
}

footer div#footer-inferior div#footer-inferior-menu ul li a{
    text-decoration: none;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

/*Redes sociais*/
footer div#footer-inferior div#footer-inferior-redes-sociais h2{
    color: #F40E0E;
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

footer div#footer-inferior div#footer-inferior-redes-sociais ul li{
    list-style: none;
    margin-top: 1rem;
    margin-right: .5rem;
}

footer div#footer-inferior div#footer-inferior-redes-sociais ul li ion-icon{
    color: #fff;
    font-size: 140%;
}

footer div#footer-inferior div#footer-inferior-redes-sociais ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}

footer div#footer-inferior div#footer-inferior-contatos h2{
    color: #F40E0E;
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

/*Contatos*/
footer div#footer-inferior div#footer-inferior-contatos ul li{
    list-style: none;
    margin-top: 1rem;
    margin-right: .5rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 125%;
}

footer div#footer-inferior div#footer-inferior-contatos ul li h1{
    font-size: 200%;
    font-weight: 400;
}

footer div#footer-inferior div#footer-inferior-contatos ul li ion-icon{
    color: #fff;
    font-size: 200%;
}